<button class="ui left floated button"><%= link_to 'Back to Billboards', billboards_path %></button>
<br>
<h1>Songs</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Billboard Reference</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song|%>
      <tr>
        <td><%= song.title  %></td>
        <td><%= song.artist.name  %></td>
        <td><%= song.artist.genre  %></td>
        <td>
          <% if song.billboard_id != 6 %>
            <%= song.billboard.name %>
          <% else %>
            <%= "" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
