
<h1>Find all your billboards here!</h1>
<hr>

<% @billboards.each do |billboard| %>
  <div class="ui card">
  <h2>Top <%= billboard.name %> Billboard</h2>
  <button class="ui button"><%= link_to 'Show', billboard_path(billboard) %></button>
  <button class="ui button"><%= link_to 'Edit', edit_billboard_path(billboard) %></button>
  <button class="ui button"><%= link_to 'Delete', billboard, method: :delete %></button>
  </div>
<% end %>

<hr>
<h3>Don't see the one you want?<%= link_to ' Add it!', new_billboard_path %><h3>
<h3>Want to see all the <%= link_to 'artists', artists_path %>?</h3>
<h3>Want to see all the <%= link_to 'songs', songs_path %>?</h3>
