<p>Welcome to the NEW page!<p>

<form class="ui form">
<%= form_for @billboard do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <button class="ui button"><%= f.submit %></button>
<% end %>
</form>
<br>
<%= link_to 'Return to the main page without submitting', billboards_path %>
